@import url('https://fonts.googleapis.com/css?family=Inter');

* {
    font-family: 'Inter', sans-serif;
    margin:0;
    padding:0;
}

div.main-container {
    max-width: 425px;
    margin: 3rem auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 1024px) {
    div.main-container {
        max-width: 1024px;
    }
}